{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatRoom</title>
    <link rel="stylesheet" href="{%static 'blog/css/style.css' %}">
</head>
<body>
    <nav>
        <div class="nav-left">
            <img src="{% static 'blog/images/logo.png' %}" class="logo">
            <ul>
                <li><a href="{% url 'home'%}"><img src="{% static 'blog/images/home.png'%}" alt="No home image found"></a></li>
                <li><a href="{% url 'chatroom'%}"><img src="{% static 'blog/images/chatroom.png'%}"alt="No chatroom image found"></a></li>
                <li><a href="{% url 'profile'%}"><img src="{% static 'blog/images/profile.png'%}"alt="No profile image found"></a></li>
                <li><a href="{% url 'about'%}"><img src="{% static 'blog/images/about.png' %}" alt="About"></a></li>
            </ul>
        </div>
        <div class="nav-right">
            <div class="search-box">
                <img src="{% static 'blog/images/search.png'%}">
                <input type="text" placeholder="Search">
            </div>
            <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                <img src="{% static 'blog/images/profile-pic.png'%}">
            </div>
        </div>
        <!------settings page-------->
        <div class="settings-menu">
            <div id="dark-btn">
                <span></span>
            </div>
            <div class="settings-inner">
                <div class="user-profile">
                    <img src="{%static 'blog/images/profile-pic.png'%}">
                    <div>
                        <p>Josh Gonzalez</p>
                        <a href="#">Manage profile</a>
                    </div>
                </div>
                <hr>
                <div class="settings-links">
                    <img src="{%static 'blog/images/setting.png'%}" class="settings-icon">
                    <a href="profile.html">Profile Settings <img src="{% static 'images/arrow.png'%}" width="9px" height="15px"></a>
                </div>
                
                <div class="settings-links">
                    <img src="{%static 'blog/images/logout.png'%}" class="settings-icon">
                    <a href="#">Logout <img src="{%static 'blog/images/arrow.png'%}" width="9px" height="15px"></a>
                </div>

            </div>
            
        </div>


    </nav>

    <div class="container">
        <!------left-sidebar-------->
        <div class="left-sidebar">
            <div class="imp-links">
                <a href="#"><img src="{%static 'blog/images/friends.png'%}"> Friends</a>
            </div>
        </div>
        <!------main-------->
        <div class="main-content">
            <h1>Recent Posts</h1>
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="{%static 'blog/images/profile-pic.png'%}">
                        <div>
                        <p>Josh Gonzalez</p>
                        <span>May 1, 2023, 3:00 pm</span>
                        </div>
                    </div>
                </div>
                <p class="post-text">I have an Object Oriented Programming textbook that I
                    don't use anymore. Let me know if you need it <a href="#">#textbooks</a></p>
                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="{%static 'blog/images/like-blue.png'%}"> 2</div>
                        <div><img src="{%static 'blog/images/comments.png'%}"> 1</div>
                        <div><img src="{%static 'blog/images/share.png'%}"> 3</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="{%static 'blog/images/profile-pic.png'%}">
                    </div>
                </div>
            </div>
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="{%static 'blog/images/profile-pic.png'%}">
                        <div>
                        <p>Josh Gonzalez</p>
                        <span>May 1, 2023, 1:00 pm</span>
                        </div>
                    </div>
                </div>
                <p class="post-text">Is there any free food on campus today?
                    <a href="#">#food</a></p>
                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="{%static 'blog/images/like.png'%}"> 2</div>
                        <div><img src="{%static 'blog/images/comments.png'%}"> 0</div>
                        <div><img src="{%static 'blog/images/share.png'%}"> 0</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="{%static 'blog/images/profile-pic.png'%}">
                    </div>
                </div>
            </div>

            <button type="button" class="load-more-button">Load More</button>

        </div>
        <!------right-sidebar-------->
        <div class="right-sidebar">
            <div class="sidebar-title">
                <h4>Events</h4>
                <a href="#">See All</a>
            </div>
            <div class="event">
                <div class="left-event">
                    <h3>18</h3>
                    <span>March</span>
                </div>
                <div class="right-event">
                    <h4>ECS Career Fair</h4>
                    <p>TSU Pavilions</p>
                    <a href="#">More Info</a>
                </div>
            </div>
            <div class="sidebar-title">
                <h4>Messages</h4>
                <a href="#">Hide Chat</a>
            </div>
            <div class="online-list">
                <div class="online">
                    <img src="{%static 'blog/images/friend-1.jpg'%}">
                </div>
                <p>Ashley Kuewa</p>
            </div>

        </div>
    </div>
<script src="{%static 'blog/js/script.js'%}"></script>
</body>
</html>